@use "../../../styles/utils.scss" as *;

.PageBanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 36px;

  @include sm {
    padding: 48px 15px;
  }

  @include xsm {
    padding: 48px 5px;
  }

  h2 {
    color: $color-typo-400;
    font-weight: 500;
    font-size: $font-display-lg;
    line-height: 72px;
    letter-spacing: -2%;

    @include sm {
      font-size: $font-display-md;
    }
  }

  hr{
    width: 100%;
    border: 1px solid #DDE7EE;
  }
}
