@use "../../../styles/utils.scss" as *;

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 10px 24px;
  position: relative;
  background-color: $color-white-200;
  border-radius: 100px;
  border: 1px solid #eef3f6;
  margin-top: 20px;

  @include lg {
    justify-content: space-evenly;
  }

  @include md {
    justify-content: space-between;
  }

  .logo_box {
    @include lg {
      width: max-content;
    }

    a.logo_link {
      display: inline-block;
      width: max-content;

      .logo {
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid $color-white-100;
        padding: 10px 16px;
        background-color: $color-white-400;
        gap: 10px;

        img {
          width: 28px;
          height: 28px;
          object-fit: contain;
        }

        span.title {
          color: $color-primary-400;
          font-weight: 500;
          font-size: $font-display-xs;
        }

        @media (max-width: 580px) {
          span.title {
            display: none;
          }
        }
      }
    }
  }
}

.search {
  width: 450px;
  border: 1px solid #e4e4e7;
  padding: 12px;
  border-radius: 100px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search input {
  width: 100%;
  font-size: $font-text-md;
  font-weight: 400;
  outline: none;
  background-color: transparent;
  border: none;

  &:focus {
    border: none;
    box-shadow: none; // Optionally remove any box-shadow if present
  }

  &::placeholder {
    color: $color-typo-100;
  }
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border: 1px solid #e4e4e7;
  border-radius: 50%;
}

.phone-img {
  display: none;
}

@media (max-width: 780px) {
  .search {
    width: 300px;
  }
}

@media (max-width: 680px) {
  .nav {
    padding: 10px;
  }
  .phone-img {
    display: flex;
  }

  // .icons.phone-img {
  //   gap: 6px;
  // }

  .phone-img button,
  .phone-img img {
    width: 28px;
    height: 28px;

    object-fit: cover;
  }

  .phone-img button:active {
    border: none;
  }

  .big-img {
    display: none;
  }

  .search {
    width: 100%;
  }

  .srch {
    display: none;
  }

  .icons {
    justify-content: flex-end;
  }

  .srch-bar {
    transition: all 500ms ease-in-out;

    &.active {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
      visibility: visible;
      height: auto;
      width: auto;
      position: static;
    }

    &.hidden {
      opacity: 0;
      transform: scale(0);
      pointer-events: none;
      visibility: hidden;

      position: absolute;
    }
    &.hidden img {
      height: 0;
      width: 0;
    }
  }

  .hidden {
    opacity: 0;
  }
}
