@use "../../../styles/utils.scss" as *;

.SectionTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.centered{
        text-align: center;
        align-items: center;
    }

    h2{
        font-size: $font-display-md;
        font-weight: 500;
        line-height: 60px;
        color: $color-typo-400;
        
        @include sm{
            font-size: $font-display-xs;
            line-height: 30px;
        }

        @include xsm{
            font-size: $font-text-lg;
            line-height: 18px;
        }
    }

    h3{
        font-size: $font-display-xs;
        font-weight: 400;
        line-height: 30px;
        color: $color-typo-400;
        
        @include sm{
            font-size: $font-text-lg;
            line-height: 24px;
        }

        @include xsm{
            display: none;
        }

        span{
            color: $color-primary-400;
        }
    }
}