@use "../../../styles/utils.scss" as *;

.aside {
  .side-bar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    height: 80dvh;
    width: 200px;
    z-index: 100;
    padding: 20px 0;
    .link {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px 12px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      transition: all 500ms linear;
      width: 90%;
      position: relative;
      font-size: 14px;

      &.active {
        background-color: $color-primary-400;
        color: $color-primary-100;
        font-weight: 700;
      }

      .notifInfo {
        height: 20px;
        width: 20px;
        background-color: $color-warning-300;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        position: absolute;
        right: 12px;
        color: $color-warning-100;
      }

      .ai {
        height: 20px;
        width: 30px;
        background-color: $color-error-200;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        position: absolute;
        right: 12px;
        color: $color-error-100;
      }
    }
    .link:hover {
      background-color: $color-primary-200;
      color: $color-typo-400;
    }

    .bottom-nav {
      border-top: 1px solid $color-typo-100;
      position: absolute;
      bottom: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 8px 0;
    }

    @include md {
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
      background: $color-white-400;
      top: 92px;
      // border-top-right-radius: 20px;
      // border-bottom-right-radius: 20px;
      right: 0;
      left: 0;
      width: 100%;
      transition: all 300ms ease-in-out;

      // height: 100vh;

      &.open {
        transform: translateX(0px);
        opacity: 1;
      }
      &.close {
        transform: translateX(-1000px);
        opacity: 0;
      }
    }
  }
}
