@use "../../../styles/utils.scss" as *;

.sidebar {
  height: 100%;
  position: sticky;
  overflow-y: auto; // Enables scrolling
  width: 250px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include md {
    width: 70%;
    max-width: 250px;
    position: fixed;
    inset: 0;
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    .link {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px 12px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      transition: $main-transition;
      width: 90%;
      position: relative;
      font-size: 14px;

      &.active {
        background-color: $color-primary-400;
        color: $color-primary-100;
        font-weight: 700;
      }

      .notifInfo {
        height: 20px;
        width: 20px;
        background-color: $color-warning-300;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: $color-warning-100;
      }

      .ai {
        height: 20px;
        width: 30px;
        background-color: $color-error-200;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: $color-error-100;
      }
    }
    .inactive:hover {
      background-color: $color-primary-200;
      color: $color-typo-400;
    }

    .top-nav,
    .bottom-nav {
      bottom: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 8px 0;
    }
    .bottom-nav {
      border-top: 1px solid $color-typo-100;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    @include md {
      box-shadow: 4px 0 16px 4px #17171714;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 70%;
      max-width: 250px;
      height: 100vh;
      overflow-y: auto;
      transition: $main-transition;
      background: $color-white-400;
      padding-top: 48px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &.open {
        transform: translateX(0px);
        z-index: 10;
        opacity: 1;
      }
      
      &.close {
        transform: translateX(-1000px);
        opacity: 0;
      }
    }
  }
}
