@use "../../../styles/utils.scss" as *;

.mainNotification {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .notifItem {
    width: 100%;
    display: flex;
    border-radius: 12px;
    padding: 0;
    border: 1px solid $color-white-100;
    min-height: 80px;

    .cancel {
      width: 64px;
      background-color: $color-white-200;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;

      button {
        background-color: $color-white-400;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-grey-300;
        cursor: pointer;

        img {
          height: 60%;
          width: 60%;
        }
        button:active {
          outline: none;
        }
      }
    }

    .content {
      width: calc(100% - 64px);
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px 12px;

      .meta {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .button {
          padding: 2px 8px;
          font-size: $font-text-sm;
          border-radius: 8px;

          &.success {
            background-color: $color-success-400;
            color: $color-success-100;
          }

          &.warning {
            background-color: $color-warning-300;
            color: $color-warning-100;
          }

          &.missed {
            background-color: $color-error-400;
            color: $color-error-100;
          }
        }

        .date-not {
          padding: 12px;
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: $font-text-sm;
          color: $color-typo-200;
          font-weight: 400;
          line-height: 28px;

          @include sm{
            display: none;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .info {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include xsm{
          gap: 10px;
        }

        .message-title {
          width: 100%;
          color: $color-typo-300;
          font-weight: 700;
          font-size: $font-text-lg;
          line-height: 28px;
          letter-spacing: 0%;
        }
        
        .message-content {
          width: 100%;
          color: $color-typo-300;
          font-weight: 400;
          font-size: $font-text-lg;
          line-height: 28px;
          letter-spacing: 0%;
        }

        .date-not {
          align-items: center;
          gap: 6px;
          font-size: $font-text-sm;
          color: $color-typo-200;
          font-weight: 400;
          line-height: 28px;
          display: none;

          @include sm{
            display: flex;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .bottom{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    border-radius: 24px;
    background-color: $color-white-200;

    button{
      min-width: 400px;
    }
  }
}
