//colors
// Primary
$color-primary-400: #DE2A5D;
$color-primary-300: #fd9ab6;
$color-primary-200: #FFE7EE;
$color-primary-100: #FFF7FA;

// Typography
$color-typo-400: #423a3a;
$color-typo-300: #676767;
$color-typo-200: #8e9299;
$color-typo-100: #cbcbcb;

// White
$color-white-400: #ffffff;
$color-white-300: #fcfdfd;
$color-white-200: #f5f8fa;
$color-white-100: #f5f8fa;

// Error
$color-error-400: #e02424;
$color-error-300: #f04438;
$color-error-200: #fda29b;
$color-error-100: #fffbfa;

// Warning
$color-warning-400: #dc6803;
$color-warning-300: #fdb022;
$color-warning-200: #fedf89;
$color-warning-100: #fffcf5;

// Success
$color-success-400: #16b364;
$color-success-300: #3ccb7f;
$color-success-200: #aaf0c4;
$color-success-100: #edfcf2;

// Grey
$color-grey-500: #535353;
$color-grey-400: #7e7e7e;
$color-grey-300: #8e95a1;
$color-grey-200: #dde7ee;
$color-grey-100: #fcfcfd;


// Fonts
// Display
$font-display-2xl: 72px;
$font-display-xl: 60px;
$font-display-lg: 48px;
$font-display-md: 36px;
$font-display-sm: 30px;
$font-display-xs: 24px;

// Text
$font-text-xl: 20px;
$font-text-lg: 18px;
$font-text-md: 16px;
$font-text-sm: 14px;
$font-text-xs: 12px;

// Transition
$main-transition: all .3s ease;