@use "../../../styles/utils.scss" as *;

.HomePageSections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  @include sm {
    padding: 24px 25px;
  }

  @include xsm {
    padding: 24px 15px;
  }
}
